<ion-header>
  <ion-toolbar>
    <ion-title>details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="height: auto ;">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card style="background-color: rgb(113, 147, 221);">
          <ion-card-header>
            <ion-card-title>{{recipes?.total_commission}}</ion-card-title>
            <ion-card-subtitle>TOTAL COMMISSION</ion-card-subtitle>
          </ion-card-header>
        
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card style="background-color: rgb(146, 197, 226);">
          <ion-card-header>
            <ion-card-title>{{recipes?.total_user}}</ion-card-title>
            <ion-card-subtitle>TOTAL USER</ion-card-subtitle>
          </ion-card-header>
        
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card style="background-color: rgb(231, 238, 170);">
          <ion-card-header>
            <ion-card-title>{{recipes?.total_send}}</ion-card-title>
            <ion-card-subtitle>TOTAL SEND</ion-card-subtitle>
          </ion-card-header>
        
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card style="background-color: rgb(238, 175, 189);">
          <ion-card-header>
            <ion-card-title>{{recipes?.total_swapn}}</ion-card-title>
            <ion-card-subtitle>TOTAL SWAP</ion-card-subtitle>
          </ion-card-header>
        
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
