@media (min-width: 1080px){
  .add__deperment {
    --width: 60%;
    --height: 45%;
    --overflow: auto;
    --border-radius: 20px;
  
    .modal-wrapper {
      margin: 12px;
    }
  }

  .add__designation{
    --width: 50%;
    --height: 45%;
    --overflow: auto;
    --border-radius: 20px;
  
    .modal-wrapper {
      margin: 12px;
    }
  }

  .show_user {
    --width: 90%;
    --height: 90%;
    --overflow: auto;
    // left: 20% !important;
    top:0!important;
  
    // .modal-wrapper {
    //   margin: 12px;
    // }
  }
}

@media (min-width: 767px)and (max-width: 1080px){
  .add__deperment {
    --width: 60%;
    --height: 35%;
    --overflow: auto;
    --border-radius: 20px;
  
    .modal-wrapper {
      margin: 12px;
    }
  }

  .add__designation{
    --width: 70%;
    --height: 45%;
    --overflow: auto;
    --border-radius: 20px;
  
    .modal-wrapper {
      margin: 12px;
    }
  }
}

// ion-popover.menu {
//   // --width: 540px;
//   // --max-width: 100%;
//   // position: fixed !important;
//   // top: 0 !important;
//   // left: 20% !important;
//   // margin-top: -125px !important; 
//   // margin-left: -100px !important;
//   // height: 100% !important;
//   // width: 80% !important;
// }