<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img src="https://lh3.googleusercontent.com/ogw/ADea4I7t2fFPIOSCk1TToUMT79dYw9deHf7g4ThHPYKL=s64-c-mo" />
            </ion-avatar>
            <ion-label>
              <h3 style="margin: 0px !important;" class="header">Wallet App</h3>
              <p style="margin: 0px !important;" class="note">admin@wallet.com</p>
            </ion-label>
          </ion-item>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/home" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" ios="home-outline" md="home-outline"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <!-- <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root"  routerLink="/category" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" ios="people-outline" md="people-outline"></ion-icon>
              <ion-label>Category</ion-label>
            </ion-item>
          </ion-menu-toggle> -->
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root"  routerLink="/user" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" ios="people-outline" md="people-outline"></ion-icon>
              <ion-label>User</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root"  routerLink="/transactions" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" ios="people-outline" md="receipt-outline"></ion-icon>
              <ion-label>Transactions</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <!-- <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root"  lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" ios="cube-outline" md="cube-outline"></ion-icon>
              <ion-label>Producr</ion-label>
            </ion-item>
          </ion-menu-toggle> -->
        </ion-list>
      </ion-content>
      <ion-footer mode='ios' style="padding: 15px;">
        <ion-button (click)="logout()" expand="block" shape="round">Logout</ion-button>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
