<ion-header>
  <ion-toolbar>
    <ion-title>Swap Transaction</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-margin">
    <ion-row>
      <ion-col size="0.7">S.No</ion-col>
      <ion-col size="4">Address</ion-col>
      <ion-col size="1.3">Id</ion-col>
      <ion-col size="1.5">From Currency</ion-col>
      <ion-col size="1.5">to Currency</ion-col>
      <ion-col size="1.5">Tx Id</ion-col>
      <ion-col size="1.5">Date</ion-col>
    </ion-row>
    <ion-row *ngFor="let row of rows; index as i" style="cursor: pointer;" (click)="openModal(row)">
      <ion-col size="0.7">{{ i + 1 }}</ion-col>
      <ion-col size="4">{{ row?.trans_to_account }}</ion-col>
      <ion-col size="1.3">{{ row?.trans_user_id }}</ion-col>
      <ion-col size="1.5">{{ row?.trans_currency_from }}</ion-col>
      <ion-col size="1.5">{{ row?.trans_currency_to }}</ion-col>
      <ion-col size="1.5">{{ row?.transaction_tx_id }}</ion-col>
      <ion-col size="1.5">{{ row?.transaction_date_time | date: "dd/MM/yyyy : hh.mm aa" }}</ion-col>
    </ion-row>
  </ion-grid>

</ion-content>