<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" color="danger"><ion-icon name="power"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title slot="start">Hi, Welcome back</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  

  <ion-list>
    <!-- <ion-list-header> Recent Conversations </ion-list-header> -->
    <ion-item (click)="viewRecipe(recipe.rcp_id, recipe.rcp_name)" *ngFor="let recipe of recipes" lines="none">
        <ion-avatar slot="start">
          <img [src]=recipe?.rcp_image_url />
        </ion-avatar>
        <ion-label>
          <h2>{{recipe?.rcp_name}} ({{recipe?.user_name}})</h2>
          <p>{{recipe?.rcp_desc}}</p>
        </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
