<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" color="danger"><ion-icon name="power"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title slot="start">Hi, Welcome back</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid >
    <ion-row style="background-color: rgb(255, 255, 255);">
      <ion-col style="border: 0px;">
        <ion-card style="background-color: rgb(113, 147, 221) ; padding: 0px;">
          <ion-card-header>
            <ion-card-title>{{recipes?.total_commission}}</ion-card-title>
            <ion-card-subtitle>TOTAL COMMISSION</ion-card-subtitle>
          </ion-card-header>
        
        </ion-card>
      </ion-col>
      <ion-col style="border: 0px;">
        <ion-card style="background-color: rgb(146, 197, 226);">
          <ion-card-header>
            <ion-card-title>{{recipes?.total_user}}</ion-card-title>
            <ion-card-subtitle>TOTAL USER</ion-card-subtitle>
          </ion-card-header>
        
        </ion-card>
      </ion-col>
      <ion-col style="border: 0px;">
        <ion-card style="background-color: rgb(231, 238, 170);">
          <ion-card-header>
            <ion-card-title>{{recipes?.total_send}}</ion-card-title>
            <ion-card-subtitle>TOTAL SEND</ion-card-subtitle>
          </ion-card-header>
        
        </ion-card>
      </ion-col>
      <ion-col style="border: 0px;">
        <ion-card style="background-color: rgb(238, 175, 189);">
          <ion-card-header>
            <ion-card-title>{{recipes?.total_swapn}}</ion-card-title>
            <ion-card-subtitle>TOTAL SWAP</ion-card-subtitle>
          </ion-card-header>
        
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-grid style="padding:0px;" (click)="function1()">
    <ion-row>
      <ion-col col-6>
        Text1<br>Text1<br>Text1
      </ion-col>
      <ion-col col-6>
        Text2<br>Text2<br>Text2
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid style="padding:0px;" (click) = "detail()">
    <ion-row>
      <ion-col col-6>
        Text3<br>Text3<br>Text3
      </ion-col>
      <ion-col col-6>
        Text4<br>Text4<br>Text4
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <ion-grid class="ion-margin">
    <ion-row>
      <ion-col size="1">S.No</ion-col>
      <ion-col size="4.5">Address</ion-col>
      <ion-col size="2">Id</ion-col>
      <ion-col size="2">Wallet Name</ion-col>
      <ion-col size="2.5">Date</ion-col>
    </ion-row>
    <ion-row *ngFor="let row of rows; index as i" (click) = "detail()">
      <ion-col size="1">{{ i + 1 }}</ion-col>
      <ion-col size="4.5">{{ row?.user_address }}</ion-col>
      <ion-col size="2">{{ row?.user_hash_id }}</ion-col>
      <ion-col size="2">{{ row?.user_wallet_name }}</ion-col>
      <ion-col size="2.5">{{ row?.user_registration_date_time | date: "dd/MM/yyyy : hh.mm aa" }}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
