<ion-header>
  <ion-toolbar>
    <ion-title>Category Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <!-- (ngSubmit)="login()" (keyup.enter)="login() -->
    <mat-slide-toggle style="font-size: 18px;" class="ion-padding" color="primary" [(ngModel)]="isParent">{{isParent? 'Parent Category' : 'Child Category'}}</mat-slide-toggle>
    <form [formGroup]="addCategory" (ngSubmit)="addCategoryApi()" (keyup.enter)="addCategoryApi()">
      
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-padding">
          <ion-col class="ion-padding" size="6">
            <mat-form-field class="inputfild" appearance="outline">
              <mat-label>Category Name</mat-label>
              <input autocomplete="off" formControlName="category_name" matInput placeholder="Name">
            </mat-form-field>
          </ion-col>
          <ion-col class="ion-padding" size="3">
            <mat-form-field class="inputfild" appearance="outline">
              <mat-label>Status</mat-label>
              <mat-select formControlName="category_status">
                <mat-option>None</mat-option>
                <mat-option value="active">Active</mat-option>
                <mat-option value="inactive">Inactive</mat-option>
              </mat-select>
            </mat-form-field>
          </ion-col>
          <ion-col class="ion-padding" size="3">
            <div *ngIf="!isParent">
              <mat-form-field class="inputfild" appearance="outline">
                <mat-label>Parent Category</mat-label>
                <mat-select formControlName="category_parent">
                  <mat-option value="0">None</mat-option>
                  <mat-option *ngFor="let parent_cat of parent_cats" [value]="parent_cat?.category_id">
                    <!-- <img class="example-option-img" aria-hidden src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=50,metadata=none,w=305,h=333/layout-engine/2021-11/baby-care.png" height="40" width="40"> -->
                    <span>{{parent_cat?.category_name}}</span>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding">
          <ion-col class="ion-padding" size="3">
            <mat-form-field class="inputfild" appearance="outline">
              <mat-label>Upload Image</mat-label>
              <ngx-mat-file-input formControlName="category_image" type="file" placeholder="Select Category Image" accept="image/png, image/jpeg, image/jpg"></ngx-mat-file-input>
            </mat-form-field>
          </ion-col>
          <ion-col class="ion-padding" size="6">
            <mat-form-field class="example-full-width inputfild" appearance="outline">
              <mat-label>Category Description</mat-label>
              <textarea formControlName="category_description" matInput placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
            </mat-form-field>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-footer>
        <ion-toolbar>
          <ion-button slot="end" mode="ios" (click)="closeModel()" color="danger">Cancel</ion-button>
          <ion-button slot="end" mode="ios" type="submit">Save</ion-button>
        </ion-toolbar>
      </ion-footer>

    </form>
  </div>
</ion-content>

