/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
/* Quill CSS */
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';
/* Bootstrap CSS */
// @import "bootstrap";

@import "~@ng-select/ng-select/themes/ant.design.theme.css";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.split-pane-visible >.split-pane-side {
  min-width: 250px!important;
  max-width: 300px!important;
}

.ql-toolbar.ql-snow{
  border: none!important;
}

.ql-container.ql-snow{
  border: none!important;
  box-shadow: none!important;
  height: 100%;
  border-radius: 9px;
}

.ql-editor:focus {
  border: 1px solid #80bdff !important;
  border-radius: 9px;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}


::-webkit-scrollbar-track {
  background: #f2f2f2 !important;
  border-radius: 19px;
  }

ion-content{
  --background: #fff;
}

// @media (max-width: 800px)
// {
//   body{
//     display: none;
//   }
// }


ion-modal.ae-modal::part(content) {
  height: 80%;
  width: 90%;
}